.logo-MIA {     background-image: url("/assets/images/logos/dolphins.svg") !important; }
.logo-NYJ {     background-image: url("/assets/images/logos/jets.svg") !important; }
.logo-BUF {     background-image: url("/assets/images/logos/bills.svg") !important; }
.logo-NE {     background-image: url("/assets/images/logos/patriots.svg") !important; }
.logo-CIN {     background-image: url("/assets/images/logos/bengals.svg") !important; }
.logo-PIT {     background-image: url("/assets/images/logos/steelers.svg") !important; }
.logo-CLE {     background-image: url("/assets/images/logos/browns.svg") !important; }
.logo-BAL {     background-image: url("/assets/images/logos/ravens.svg") !important; }
.logo-TEN {     background-image: url("/assets/images/logos/titans.svg") !important; }
.logo-HOU {     background-image: url("/assets/images/logos/texans.svg") !important; }
.logo-JAX {     background-image: url("/assets/images/logos/jaguars.svg") !important; }
.logo-IND {     background-image: url("/assets/images/logos/colts.svg") !important; }
.logo-DEN {     background-image: url("/assets/images/logos/broncos.svg") !important; }
.logo-SD {     background-image: url("/assets/images/logos/chargers.svg") !important; }
.logo-OAK {     background-image: url("/assets/images/logos/raiders.svg") !important; }
.logo-KC {     background-image: url("/assets/images/logos/chiefs.svg") !important; }
.logo-PHI {     background-image: url("/assets/images/logos/eagles.svg") !important; }
.logo-WAS {     background-image: url("/assets/images/logos/redskins.svg") !important; }
.logo-DAL {     background-image: url("/assets/images/logos/cowboys.svg") !important; }
.logo-NYG {     background-image: url("/assets/images/logos/giants.svg") !important; }
.logo-MIN {     background-image: url("/assets/images/logos/vikings.svg") !important; }
.logo-DET {     background-image: url("/assets/images/logos/lions.svg") !important; }
.logo-CHI {     background-image: url("/assets/images/logos/bears.svg") !important; }
.logo-GB {     background-image: url("/assets/images/logos/packers.svg") !important; }
.logo-CAR {     background-image: url("/assets/images/logos/panthers.svg") !important; }
.logo-ATL {     background-image: url("/assets/images/logos/falcons.svg") !important; }
.logo-NO {     background-image: url("/assets/images/logos/saints.svg") !important; }
.logo-TB {     background-image: url("/assets/images/logos/buccaneers.svg") !important; }
.logo-SEA {     background-image: url("/assets/images/logos/seahawks.svg") !important; }
.logo-SF {     background-image: url("/assets/images/logos/49ers.svg") !important; }
.logo-ARI {     background-image: url("/assets/images/logos/cardinals.svg") !important; }
.logo-STL {     background-image: url("/assets/images/logos/rams.svg") !important; }