@import domain.{Game, User, Week}
@import logic.{StandingsCalculator, TableUtilities}
@(users: Set[User], currentWeek: Week, currentUser: User)

@main {
    <script>
        $(function() {
            $('.js-tooltip').tooltip();
        });
    </script>

    <a href="/seasonSummary">Season Summary</a><br/>
    <a href="/weekPicks?week=@currentWeek.number">Your Week @currentWeek.number Picks</a>


    @defining(users.toSeq.sortBy(x => x.metaData.pointsEarned()).reverse) { sortedUsers =>
        <div class="grid center">
            <div class="col large-3">
                <table class="table is-striped has-hover table-height-logoscore table-cursor-default">
                    <thead>
                        <tr>
                            <th class="table-height-fixedheader">User</th>
                            <th class="table-height-fixedheader">Wins</th>
                            <th class="table-height-fixedheader">Losses</th>
                            <th class="table-height-fixedheader">Win Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(i: Int <- sortedUsers.indices) {
                            @defining(sortedUsers(i)) { user =>
                                <tr>
                                    <td class="@TableUtilities.inTheMoney(i)">@user</td>
                                    <td>@user.metaData.wins(Some(currentWeek))</td>
                                    <td>@user.metaData.losses(Some(currentWeek))</td>
                                    <td>
                                        @{
                                            val formattedWinPercentage = f"${user.metaData.winPercentage(Some(currentWeek)) * 100}%2.1f"
                                            formattedWinPercentage
                                        }%
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-scrollable col large-6">
                <table class="table is-striped has-hover table-height-logoscore table-cursor-default">
                    <thead>
                        <tr>
                        @for(game <- Game.getGames(currentWeek)){
                            <th class="table-height-fixedheader">@game.shortStringWithScores</th>
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @for(i: Int <- sortedUsers.indices) {
                        @defining(sortedUsers(i)) { user =>
                            <tr>
                                @for(game <- Game.getGames(currentWeek)){
                                    @defining(user.pick(currentWeek, game)) { pick =>
                                        @if(!pick.isLocked && user != currentUser) {
                                            <td>0</td>
                                        } else {
                                            @if(pick.game.winner.isEmpty){
                                                <td>
                                                    <img src="@routes.Assets.at(pick.selectedTeam.logoPath)" alt="@pick.selectedTeam.abbreviation" class="logo-small">
                                                    @pick.confidence.rating
                                                </td>
                                            } else {
                                                <td class="@if(pick.isWinner.get){ pick-correct } else { pick-incorrect }">
                                                    <img src="@routes.Assets.at(pick.selectedTeam.logoPath)" alt="@pick.selectedTeam.abbreviation" class="logo-small">
                                                    @pick.confidence.rating
                                                </td>
                                            }
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>

            <div class="col large-3">
                <table class="table is-striped has-hover table-height-logoscore table-cursor-default">
                    <thead>
                        <tr>
                            <th class="table-height-fixedheader">Week @(currentWeek.number) Points</th>
                            <th class="table-height-fixedheader">Week @(currentWeek.number) Potential Points Remaining</th>
                            <th class="table-height-fixedheader">Current Total Points</th>
                            <th class="table-height-fixedheader">Current Distance From Leader</th>
                            <th class="table-height-fixedheader">Current Distance From Predecessor</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(i: Int <- sortedUsers.indices) {
                        @defining(sortedUsers(i)) { user =>
                            <tr>
                                <td class="js-tooltip" title="@user.record(Some(currentWeek))">@user.metaData.pointsEarned(Some(currentWeek))</td>
                                <td>@user.metaData.potentialPointsRemaining(Some(currentWeek))</td>
                                <td class="js-tooltip" title="@user.record()">@user.metaData.pointsEarned()</td>
                                <td>@StandingsCalculator.distanceFromLeader(user, users)</td>
                                <td>@StandingsCalculator.distanceFromPredecessor(user, users)</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
}